body {
    margin: 0;
    background-color: #111111;
    font-family: 'Roboto Mono', monospace;
    color: #d6d6d6;
}

.room {
    height: calc(100vh - 35px);
    width: 100vw;
    align-items: center;
    padding-top: 35px;
    display: none;
    position: relative;
}

.room.current {
    display: flex;
}

.room-image {
    margin: auto;
    width: 1000px;
    height: 600px;
}

.box {
    position: absolute;
    cursor: pointer;
}

#boxContainer {
    position: absolute;
}